BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
ReferenceAlignment: Pointer
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 200
